@import 'global.css';

form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

form > * {
	margin-bottom: 1rem;
}

form > button {
	max-width: clamp(7%, 5rem, 50%);
	border-radius: 0.3rem;
	border: none;
	padding: 0.3rem 0.5rem;
	font-size: 1.1rem;
	cursor: pointer;
}

form > button:hover {
	background-color: rgba(204, 204, 204, 0.7);
}
